body{
    background-color: whitesmoke!important;
    color: white;
}

form{
    color: rgb(178, 170, 170);
}

.form-control{
    background-color: rgb(245, 240, 240);
}

.jumbo-color{
    background-color: rgb(83, 82, 81);
}

#likeCount, #dislikeCount{
    border: none;
    outline: none;
    pointer-events: none;
    background: none;
}

/*
<script>
  $(function () {
     $(".like").click(function () {
         var input = $(this).find('.qty1');
         input.val(parseInt(input.val())+ 1);
     });

     $(".dislike").click(function () {
         var input = $(this).find('.qty2');
         input.val(input.val() - 1);
     });
});
</script>

Like <input class="qty1" name="qty1" readonly="readonly" type="text" value="0" />
Dislike <input class="qty2"  name="qty2" readonly="readonly" type="text" value="0" />
.like,
.dislike {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: lightgreen;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
}
.qty1,
.qty2 {
    border: none;
    width:20px;
    background: transparent;
}
*/